{% extends 'base.html' %}

{% block main %}
    <p>本项目是用来练手<a href='https://www.djangoproject.com/'>Django</a>的项目，由一个博客模板改造而成。你可以把它当作一个博客，也可以当成在线文档阅读器，其实大同小异。现存的几篇文档是从网上抓取而来，仅供测试使用。</p>
    <p>&nbsp;</p>
    <p>本项目的相关文档会发布在我的博客上，如下：</p>
    <ul>
        <li><a href='https://journal.ethanshub.com/post/category/gong-cheng-shi/-pythonkai-fa-djangokuang-jia-he-wang-zhan'>使用Django框架开发一个网站</a></li>
    </ul>
    <p>代码在Github上：<a href='https://github.com/wfgydbu/A-Django-Content-Site'>A-Django-Content-Site</a>例子。</p>
    <p>&nbsp;</p>
    <p>祝好</p>
    <p><a href='https://journal.ethanshub.com/'>Ethan</a></p>
{% endblock main %}